<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Connexion administrateur</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css')}}">
	</head>
	<body>
		<div class="adm">
			<div class="adm-image">
				<p>
					<h2>
						Cette option est réservé seulement à l'administrateur.
					</h2>
				</p>
			</div>
			<div class="adm-form">
				<h2>Connexion de l'administrateur</h2>
				<form method="POST" enctype="multipart/form-data">
					<label for="nom">Entrez votre nom</label><br/>
					<input id="nom" placeholder="Ex: Yambo"required/><br/><br/>
					<label for="postnom">Entrez votre postnom</label><br/>
					<input id="postnom" placeholder="Ex: Ngolu"required/><br/><br/>
					<label for="prénom">Entrez votre prénom</label><br/>
					<input id="prénom" placeholder="Ex: Grace"required/><br/><br/>
					<label for="mail">Entrez votre adresse mail</label><br/>
					<input type="email" id="email" placeholder="graceyambo23@gmail.com"required/><br/><br/>
					<label for="password">Tapez votre futur mot de passe</label><br/>
					<input type="password" id="password" name="password" placeholder="EX: zde-6544REF43e"required/>
					<div class="juste">
					<input type="submit" value="Envoyer les données"/>
					<input type="reset" value="Reinitialisé"/>
				</form>
			</div>
		</div>
		{% with messages = get_flashed_messages()%}
			{% if messages %}
			  <ul style="color: red;">
				{% for msg in messages %}
				  <li>{{msg}}</li>
				{% endfor %}
			  </ul>
		    {% endif %}
		{% endwith %}
	</body>
</html> 